/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    overflow: hidden;
}

* {
    margin: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 40px;
    background: rgb(61,96,107);
    background: -moz-linear-gradient(163deg, rgba(61,96,107,1) 0%, rgba(48,60,80,1) 43%);
    background: -webkit-linear-gradient(163deg, rgba(61,96,107,1) 0%, rgba(48,60,80,1) 43%);
    background: linear-gradient(163deg, rgba(61,96,107,1) 0%, rgba(48,60,80,1) 43%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d606b",endColorstr="#303c50",GradientType=1);
}


.container {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    max-width: 1100px;
    height: 600px;
    flex: 1;

}

.etch-grid-row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    
}

.etch-grid {
    flex: 1;
    border: solid green 2px;
}



/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/